{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "About Me" %}{% endblock %}
{% block title %}{% trans "About Me" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/about.css" %}">
{% endblock %}

{% block main %}
{% blocktrans %}

<div id="about-parent">
    <div id="g-person-container">
        <div class="g-person" data-href="//plus.google.com/100939083557447338527" data-rel="author"></div>
    </div>

    <div id="about-container">
        <p>Amateur developer / designer. Full-time computer science student at the University of New South Wales.</p>
        
    </div>
    <div id="links-container">
        <div><a href="https://twitter.com/ravrahn" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @ravrahn</a></div>
        <div><iframe src="//www.facebook.com/plugins/follow.php?href=http%3A%2F%2Fwww.facebook.com%2Fravrahn&amp;width&amp;height=35&amp;colorscheme=light&amp;layout=standard&amp;show_faces=false&amp;appId=272152892805669" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px;" allowTransparency="true"></iframe></div>
        <div><div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/109193974896316067629" data-rel="publisher"></div></div>
    </div>
    <div style="clear: both;"></div>
</div>



<!-- Google+ JS -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Twitter JS -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblocktrans %}
{% endblock %}