
#portfolio .port-small-container, .port-large-container {
    position: relative;
}

#portfolio .port-small-container {
    height: 32rem;
    max-width: 18rem;
}

#portfolio .port-large-container {
    height: 32rem;
    width: 100%;
}

#portfolio iframe {
    overflow: hidden;
    border: none;
}

#portfolio .port-small-iframe {
    height: 26rem;
    width: 18rem;
}

#portfolio .port-large-iframe {
    width: 100%;
    height: 26rem;
    max-width: 64rem;
}

#portfolio .large-iframe-overlay, .small-iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#portfolio .large-iframe-overlay {
    height: 26rem;
    width: 64rem;
}

#portfolio .small-iframe-overlay {
    height: 26rem;
    width: 18rem;
}

#portfolio .port-desc {
    padding: 1rem;
}
#portfolio .port-desc h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
}

#portfolio #content {
    padding: 0;
    margin-top: -0.5rem;
}
#portfolio #content-row {
    margin: 0;
    margin-right: 0px;
    max-width: 64rem;
    overflow: hidden;
}
#portfolio .content {
    overflow: hidden;
}