{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "Portfolio" %}{% endblock %}
{% block title %}{% trans "Portfolio" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/portfolio.css" %}">
{% endblock %}

{% block main %}

<div class="port-container">
    <iframe class="port-iframe" src="http://127.0.0.1:8000/" >Iframe Failed</iframe>
    <div class="port-desc"><h2><a href="http://csesoc.unsw.edu.au/">CSESoc</a></h2></div>
    <div style="clear: both;"></div>
</div>

{% endblock %}